@font-face {
  font-family: "Circle";
  src: url(../fonts/Circe-Regular.ttf);
}

@font-face {
  font-family: "Rubik One";
  src: url(../fonts/RubikOne-Regular.ttf);
}

@font-face {
  font-family: "Euclid Circular A";
  src: url(../fonts/Euclid\Circular\A\Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Font */
  font-family: "Roboto", sans-serif;
  /* List */
  list-style: none;
  color: #292d32;
  /* Text */
  text-decoration: none;
}

/* Typography */

.text {
  color: #838383;
  font-size: 18px;
  font-weight: 300;
}

.title-text {
  color: #292d32;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

/* buttons */

button {
  cursor: pointer;
}

.circle-btn {
  width: 55px;
  height: 55px;

  border: none;
  border-radius: 50%;
  background-color: #33a9ff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-family: Circle;
  font-size: 18.743px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.143px;

  position: relative;
}

/* Header styles */

header {
  height: 123px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fafafa;
}

.header-container {
  margin: 0 auto;
  width: 1400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-group {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 60px;
}

.logo {
  width: 70px;
  height: 70px;
}

.nav-menu {
  display: flex;
  gap: 50px;
}

.header-ul {
  display: flex;
  gap: 45px;

  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.search {
  display: none;
}

.search-button {
  background-color: transparent;
  border: none;
}

.header-ul__profile {
  gap: 30px;
}

.header-ul__profile > li {
  width: 49px;
  height: 49px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.basket-li::after {
  content: "3";

  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #3086c8;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  position: absolute;
  top: -1.5px;
  right: 0px;
}

.profile-menu {
  padding-top: 30.49px;
  width: 405px;
  height: 389px;

  border-radius: 20px;
  background: #fff;

  position: absolute;
  top: calc(100% + 37px);

  z-index: 100;
}

.rhomb {
  width: 18px;
  height: 18px;

  background-color: #fff;
  border-radius: 2px;

  transform: rotate(45deg);

  position: absolute;
  top: -8px;
  left: calc(50% - 8px);
}

.profile-icon__holder {
  margin-right: 20px;

  width: 49px;
  height: 49px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f9f9f9;
  border-radius: 50%;
}

.profile-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-variants {
  padding-left: 30px;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  flex-grow: 0;

  border-top: 1px solid #f2f2f2;

  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
}

.profile-li {
  padding-left: 30px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;

  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: none;
}

.mobile-ul__header {
  display: none;
}

.mobile-ul__header > li {
  width: 46px;
  height: 46px;
  background-color: #f9f9f9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.burger-lines {
  margin: 4px 0 4px 0;

  width: 18px;

  display: inline-block;

  border: 1px solid #292d32;
}

.hidden {
  display: none;
}

@media (max-width: 1040px) {
  .first-group {
    gap: 5px;
  }

  .nav-menu {
    gap: 10px;
  }

  .header-ul {
    gap: 10px;
    justify-content: space-between;
  }
}

@media (max-width: 750px) {
  .logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 375px) {
  header {
    height: 90px;
    padding: 0 15px;
  }

  .header-ul {
    display: none;
  }

  .mobile-ul__header {
    display: flex;
    gap: 15px;
  }

  .logo {
    margin-right: 67.77px;
  }
}

/* Main */

/* Best section */

.main-section {
  margin-bottom: 164px;
  background-color: #f2f2f2;
}

.section-container {
  margin: 0 auto;

  width: 1400px;

  display: flex;

  position: relative;
}

.left {
  padding-left: 130px;

  display: flex;

  position: relative;
  z-index: 10;
}

.best-section__bg {
  position: absolute;
  top: 97.4px;
  left: 0;
}

.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  transform: rotate(-90deg);

  position: absolute;
  top: 415px;
  left: -70px;
}

.scroll-icon {
  transform: rotate(90deg);
}

.text__scroll {
  width: 113px;

  font-size: 16px;
  line-height: normal;
}

.text__best {
  margin-top: 253px;
  margin-bottom: 15px;

  line-height: 133.687%;
}

.title-text__best {
  margin-bottom: 55px;

  width: 446px;
  height: 118px;

  line-height: normal;
}

.circle-btn__best {
  margin-top: 56px;
}

.circle-btn__best::after {
  content: "Побробнее";

  color: #292d32;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  position: absolute;
  left: calc(100% + 12px);
}

.sliderholder {
  margin-top: 74px;
  margin-right: 18px;
  margin-bottom: 50px;

  width: 557px;
  height: 555px;

  display: flex;

  overflow: hidden;

  position: relative;
  right: 45px;
}

.textSlider {
  width: 446px;
  height: 118px;

  overflow: hidden;

  position: relative;
}

.textSlides {
  width: 446px;
  height: 118px;

  display: flex;
}

.slides {
  width: 100%;
  height: 100%;

  display: flex;

  position: relative;
  -webkit-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -moz-transition-duration: 1.5s;
  transition-duration: 1.5s;
}

.slide {
  width: 100%;
  height: 100%;
}

.slide-img {
  width: 557px;
  height: 555px;
}

.scnd-slidesholder {
  overflow: hidden;
}

.scnd-slides {
  width: 100%;
  height: 100%;

  display: flex;

  position: relative;
}

.slide-next {
  width: 100%;
  height: 100%;
}

.sliderButton {
  border: none;
  background-color: transparent;

  position: absolute;
  top: 495px;
  left: 40px;
}

.right {
  max-width: 509px;

  background-color: #f9f9f9;

  position: relative;
}

@media (max-width: 375px) {
  .main-section {
    width: 375px;
  }

  .section-container {
    padding: 0 15px 0 15px;
    flex-direction: column;
  }

  .scroll {
    display: none;
  }

  .left {
    padding: 0;
    flex-direction: column;
  }

  .best-section__bg {
    width: 293px;
    height: 77px;

    top: 18px;
    left: 32px;
  }

  .best-img {
    width: 100%;
  }

  .text__best {
    margin-top: 105px;
    margin-bottom: 5px;

    color: #838383;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
  }

  .title-text__best {
    color: #292d32;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .textSlider {
    margin-bottom: 28px;

    height: 70px;
  }

  .circle-btn__best {
    width: 45px;
    height: 45px;

    font-size: 18.743px;
  }

  .circle-btn__best::after {
    font-size: 15px;
  }

  .sliderholder {
    margin: 10px 0 0 8px;

    width: 327px;
    height: 325px;

    right: 0;
  }

  .slide-img {
    width: 327px;
    height: 325px;
  }
}

/* Catalog section */

.catalog-container {
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
}

.catalog-desc {
  padding-bottom: 60px;

  width: 440px;
  height: 371px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-text__catalog {
  line-height: 50px;
}

.text__catalog {
  line-height: 150%;
  font-weight: 300;
}

.circle-btn__catalog {
  margin-top: 10px;
}

.circle-btn__catalog::before {
  content: "В каталог";

  width: 73px;

  color: #292d32;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  position: absolute;
  left: calc(100% + 12px);
}

.card {
  width: 440px;
  height: 371px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #f9f9f9;
  border-radius: 20px;

  position: relative;
}

.number {
  color: #292d32;
  font-size: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  line-height: 150%;

  position: absolute;
  top: 40px;
  left: 40px;
}

.img-cont {
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-cont__first {
  padding: 0;

  position: relative;
  top: -10px;
}

.img-cont__second {
  padding: 0;

  position: relative;
  top: -20px;
  left: 30px;
}

.img-cont__third {
  position: relative;
  top: 20px;
}

.img-cont__fifth {
  padding-top: 35px;

  position: relative;
  top: 2px;
  left: 28px;
}

.card-desc {
  padding: 20px 0 0 40px;

  width: 100%;
  height: 136px;
}

.card-name {
  margin-top: 8px;

  color: #292d32;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.text__fix {
  margin-bottom: 15px;

  position: relative;
  top: 10px;
}

@media (max-width: 1350px) {
  .catalog-container {
    justify-content: space-evenly;
  }
}

@media (max-width: 375px) {
  .catalog-section {
    width: 100%;
  }

  .catalog-container {
    margin: 0;
    padding: 0 15px 0 15px;

    width: 345px;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20.47px;
  }

  .catalog-desc {
    width: auto;
    height: auto;
  }

  .title-text__catalog {
    margin-bottom: 20px;

    color: #292d32;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .text__catalog {
    color: #838383;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }

  .circle-btn__catalog {
    width: 45px;
    height: 45px;
  }

  .card {
    margin-left: 20px;
    width: 345px;
    height: 275px;

    border-radius: 10px;
    background-color: #eeeeee;
  }

  .number {
    top: 20px;
    left: 20px;
  }

  .card-img {
    width: 100%;
  }

  .img-cont {
    margin: 0;
    padding: 0;
  }

  .img-cont__first {
    margin: 15px 22px 0 21px;

    width: 302px;
    height: 178px;

    position: static;
  }

  .img-cont__second {
    margin: 10.53px 36px 0 99px;

    width: 210px;
    height: 193px;

    position: static;
  }

  .img-cont__third {
    margin: 63.51px 40.77px 0 39.99px;
    padding: 0;

    width: 264.239px;
    height: 107.42px;

    top: 0;
  }

  .img-cont__fourth {
    margin: 46.26px 59.59px 0 58.81px;

    width: 226.602px;
    height: 124.67px;
  }

  .img-cont__fifth {
    margin: 46.26px 59.59px 0 58.81px;

    width: 253.261px;
    height: 167.011px;

    position: static;
  }

  .card-desc {
    height: auto;
    padding: 0 0 20px 20px;
  }

  .text {
    color: #838383;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 133.687%;
  }

  .card-name {
    margin-top: 0.2px;

    color: #292d32;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .text__fix {
    margin: 0;
    top: 0;
  }
}

/* Advantages section */

.advantage-section {
  margin-top: 180px;
  margin-bottom: 172px;

  background-color: #f2f2f2;
}

.catalog-container__adv {
  margin: 0;
}

.advantage-container {
  padding-bottom: 46px;
  margin: 0 auto;

  width: 1400px;
  height: 962px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.adv-top {
  display: flex;

  position: relative;
  right: 80px;
  z-index: 10;
}

.title-text__adv {
  margin-bottom: 37px;

  font-weight: 400;
  line-height: 50px;
}

.text__adv {
  margin-bottom: 41px;

  color: #838383;
  font-weight: 400;
  line-height: 150%;
}

.notebookHolder {
  position: relative;
  top: 87px;
}

.textHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  top: 70px;
  right: 80px;
}

.circle-btn__request::after {
  content: "Оставить заявку";

  width: 126px;

  color: #292d32;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  position: absolute;
  left: calc(100% + 12px);
}

.bg-text {
  position: absolute;
  top: 152px;
  left: -260px;
  z-index: 0;

  font-size: 187px;
  font-family: "Rubik One";
  font-style: normal;
  font-weight: 400;
  line-height: 92.687%;
  text-transform: uppercase;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.95) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.adv-card {
  width: 330px;
  height: 289px;

  background: #292d32;
  border-radius: 18px;
}

.card-top {
  padding: 30px 0 25px 30px;

  display: flex;

  position: relative;
}

.icon-holder {
  width: 70px;
  height: 70px;

  background-color: #343a41;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  position: absolute;
  top: 3px;
  right: 0;
}

.card-bottom {
  padding-left: 30px;
}

.card-tittle__news {
  margin-bottom: 13px;

  color: #fff;
  font-size: 22px;
  font-family: "Euclid Circular A";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-desc__news {
  width: 276px;
  height: 60px;

  color: #b7b7b7;
  font-family: "Euclid Circular A";
  font-size: 16px;
  font-weight: 300;
}

/* News section */

.news-container {
  margin: 0 auto;

  max-width: 1400px;
}

.text-aria {
  margin-bottom: 69px;

  display: flex;
  justify-content: space-between;
}

.text__news {
  margin-top: 25px;

  width: 721px;

  line-height: 150%;
}

.circle-btn__news {
  margin-top: 8px;
}

.circle-btn__news::before {
  content: "Все новости";

  width: 93px;

  color: #292d32;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  position: absolute;
  right: calc(100% + 17px);
}

.news-card {
  width: 440px;
  height: 364px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.news-imgholder {
  width: 440px;
  height: 259px;

  border-radius: 45px 0 45px 0;
  overflow: hidden;

  position: absolute;
}

.news-date {
  padding: 24px 0;

  width: 50px;
  height: 97px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 15px;
  background: #fff;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);

  position: absolute;
  right: 0;
  top: 64px;
}

.news-card-bottom {
  width: 415px;
  height: 146px;

  background-image: url(../assets/news-bottom.png);

  position: relative;
  left: 0;
  top: calc(100% - 146px);
}

.news-text {
  display: flex;
  justify-content: space-between;
}

.news-text-cont {
  padding: 24px 30px;

  width: 292px;
  height: 88px;
}

.news-tittle {
  color: #292d32;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.date-text {
  color: #292d32;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.news-description {
  padding: 11px 30px;

  color: #292d32;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.circle-btn__card {
  width: 65px;
  height: 65px;

  border: 12px solid #ffffff;
  border-radius: 50%;
  background-color: #292d32;

  position: relative;
  top: 19px;
  right: 28px;
}

/* Contacts  */

.contacts-section {
  margin-top: 180px;

  overflow: hidden;
  position: relative;
}

.contacts-container {
  margin: 0 auto;
  margin-bottom: 180px;

  max-width: 1400px;

  display: flex;
  justify-content: space-between;

  border-radius: 20px;
}

.contacts {
  padding-top: 98px;
  padding-left: 100px;

  width: 50%;
  height: 842px;

  background-color: #f9f9f9;
  border-radius: 20px 0px 0px 20px;

  display: flex;
  flex-direction: column;

  position: relative;
}

.title-text_contacts {
  margin-bottom: 10px;
}

.ul-contacts {
  margin-top: 38px;
  padding-top: 10px;

  display: flex;
  flex-direction: column;
}

.li-title {
  color: #838383;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;

  display: flex;
  align-items: center;
}

.li-title__phone {
  margin-top: 20px;
}

.li-title__address::before {
  content: url(../assets/location.png);

  margin-right: 17px;

  width: 38px;
  height: 38px;

  display: inline-block;
}

.li-title__mail::before {
  content: url(../assets/mail.png);

  margin-right: 17px;

  width: 38px;
  height: 38px;

  display: inline-block;
}

.li-title__phone::before {
  content: url(../assets/phone.png);

  margin-right: 17px;

  width: 38px;
  height: 38px;

  display: inline-block;
}

.li-contacts {
  margin-bottom: 47px;
  padding-left: 55px;

  color: #292d32;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.iphone {
  position: absolute;
  top: 142px;
  right: -86.32px;
}

.ul-social {
  margin-top: 13px;
  margin-left: 3px;

  width: 93.712px;
  height: 37.712px;

  display: flex;
  justify-content: space-between;
}

.form-holder {
  padding: 100px 0 103px 129px;

  width: 50%;
  height: 842px;

  display: flex;
  flex-direction: column;

  background-color: #292d32;
  border-radius: 0px 20px 20px 0px;
}

.title-text__form {
  margin-bottom: 8px;

  color: #fff;
}

.form-text {
  color: #838383;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form-text__request {
  color: #fff;
}

.form-contact {
  margin-top: 65.75px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 52.75px;
}

.inputs-holder {
  position: relative;
}

.data-input {
  width: 434px;
  height: 59.25px;

  color: #f2f2f280;

  border: 1.5px solid #f2f2f280;
  background-color: transparent;
  border-radius: 20px;

  color: #f2f2f2;
  font-size: 18px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
}

.data-input__comment {
  width: 434px;
  height: 145.25px;
}

.data-label {
  color: #f2f2f2;
  font-size: 18px;
  font-family: inherit;
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;

  position: absolute;
  top: -12px;
  left: 23px;

  background-color: #292d32;
  padding: 0 5px;
}

.circle-btn__contact {
  margin-top: 7px;
}

.circle-btn__contact::after {
  content: "Заказать";
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  position: absolute;
  left: calc(100% + 12px);
}

.form-bg {
  padding-top: 184px;
  width: 100%;
  height: 676px;

  position: absolute;
  top: 346px;
  left: 0;
  z-index: -1;

  background-color: #eeeeee;
}

.form-bg__text {
  font-size: 255px;
  font-family: "Rubik One";
  font-style: normal;
  font-weight: 400;
  line-height: 92.687%;
  text-transform: uppercase;

  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
      0deg,
      #eeeeee -45.37%,
      rgba(238, 238, 238, 0) 95.17%
    ),
    linear-gradient(
      89.91deg,
      rgba(255, 255, 255, 0.85) 11.75%,
      rgba(255, 255, 255, 0) 162.35%
    );
}

@media (max-width: 1920px) {
  .contacts {
    padding-left: calc(30px + (100 - 30) * ((100vw - 375px) / (1920 - 375)));
  }
}

/* FOOTER */

.footer-container {
  max-width: 1400px;

  margin: 0 auto;
}

.footer-top {
  display: flex;

  border-bottom: 1px solid #e5e5e5;
}

.footer-logo {
  margin-top: 89px;
}

.nav-container {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 190px;

  width: 908px;
  height: 179px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer-tittle {
  color: #292d32;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer-ul > li {
  color: #292d32;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-bottom {
  margin-top: 39px;

  height: 139px;

  display: flex;
  justify-content: space-between;
}

.li-title__footer {
  margin-bottom: 11px;

  font-size: 16px;
}

.li-contacts__footer {
  margin: 0;
  padding: 0;

  font-size: 18px;
}

.nav-social__footer {
  margin-top: 9px;
}
